body {
	font-size: .7rem;
}

.top-bar {
	font-size: 1rem;
	background-color: black;
}

.top-bar-title a {
	color: grey;
	font-weight: bold;
}

body > div {
	margin-bottom: .7rem;
}

footer > div > ul {
	list-style: none;
	padding-left: 0rem;
	margin-left: 0rem;
}

ul.quick-links {
	padding-left: 0px;
	list-style: none;
	font-weight: bold;
}

ul.quick-links li {
	display: inline-block;
	float: left;
	padding: .2rem .5rem;
}

ul.quick-links li:first-child {
	padding-left: 0rem;
}
