---
layout: home
---

<div class="container">
    <div class="row">
        <div class="col">
						{% for t in site.data.categories %}
            {% assign category = t[1] %}
            {% for subcat in category.subcategories %}
            {% if subcat.category == page.category %}
            {% assign curr_category = category %}
            {% assign subcategory = subcat %}
            {% endif %}
            {% endfor %}
            {% endfor %}

						<nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ site.url }}">Home</a></li>
                    <li class="breadcrumb-item">Latest Posts</li>
                </ol>
            </nav>

						<div class="row mb-3">
                {% include menu.html %}

								<div class="col-9 card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Latest Posts
                        </h5>
												 <div class="card-text">
                            <table class="table table-sm">
                                <tbody>
																		{% for post in site.posts %}
																		<tr>
																			<td><a href="{{ site.url }}{{ post.url }}"> {{ post.title }}</a></td>
																			<td>{{ post.date | date_to_rfc822 }}</td>
																		</tr>
																		{% endfor %}
																</tbody>
														</table>
												 </div>
										</div>
								</div>
						</div>

            

            
        </div>
    </div>
</div>

