		<footer>
			<div class="large-12 columns">
				<ul>
					<li>ALLIANCEs</li>
					<li>
						<ul class="clearfix quick-links">
							<li>YOU?</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="large-7 columns">
				<address>
					<span style="text-transform: uppercase">This is Yarco's personal website</span><br />
					<abbr title="Email">E:</abbr> yarco dot wang at gmail dot com<br />
					<abbr title="Address">A:</abbr> Shanghai, China, Earth (same/similar latitude as in Jerusalem/耶路撒冷)<br />
					/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab ai si: */ ... He's now using PHPStorm with vim plugin ...<br />
				</address>
			</div>
			<div class="large-1 large-offset-4 columns">
				<img src="{{site.url}}files/dao.png" />
			</div>
		</footer>
	</body>
</html>




