		<footer class="container">
			<div class="row">
				<div class="col-md-7">
					<address class="small">
						Yarco's website<br />
						<abbr title="Email">E:</abbr> yarco dot wang at gmail dot com<br />
						<abbr title="Address">A:</abbr> Shanghai, China<br />
						/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab ai si: */ ... <a href="https://drupal.org/comment/6670298#comment-6670298">why tab</a> ... <br />
					</address>
				</div>
				<div class="col-md-4 small">
				</div>
				<div class="col-md-1">
					<img class="pull-right" src="http://i1275.photobucket.com/albums/y460/yarco_wang/wudao_sm_zps84fd6d9f.png" />
				</div>
			</div>
		</footer>
	</body>
</html>
