		<footer>
			<div class="large-12 columns">
				<ul>
					<li style="text-transform: uppercase">Trusted Brands</li>
					<li>
						<ul class="clearfix quick-links">
							<li>Amazon</li>
							<li>Apple</li>
							<li>IBM</li>
							<li>jetbrains.com</li>
							<li>Microsoft</li>
							<li>Philips</li>
							<li>Starbucks</li>
							<li>ZooCoffee</li>
							<li>王老吉</li>
							<li>老娘舅</li>
							<li>全家超市</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="large-7 columns">
				<address>
					<span style="text-transform: uppercase">This is Yarco's personal website</span><br />
					<abbr title="Email">E:</abbr> yarco dot wang at gmail dot com<br />
					<abbr title="Address">A:</abbr> China, Earth<br />
					/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab ai si: */ ... He's now using PHPStorm with vim plugin ...<br />
				</address>
			</div>
			<div class="large-1 large-offset-4 columns">
				<img src="{{site.url}}files/dao.png" />
			</div>
		</footer>
	</body>
</html>




