<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

    <!-- Syntax highlighter -->
    <link rel="stylesheet" href="/css/fruity.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>{{ site.title }} - {{ page.title }}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a href="{{ site.url }}" class="text-decoration-none navbar-text">
        你好,世界! -
        Hello World! - ¡Hola, Mundo! - Hallo, Welt!
    </a>
</nav>



