<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Hello World!!!</title>
<meta name="description" content="this is yarco's personal website" />
<link href="{{site.url}}stylesheets/grid.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="{{site.url}}stylesheets/text.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="bar">
	<div class="left">
		Lang ::= php:php | js:javascript | py:python | c:c | *:some-above | u:unknown
	</div>
	<div class="right">
		State ::= i:initialized | p:in-process | t:trial-version | f:finished-version | s:stopped
	</div>
</div>

<header>
	<div id="logo">
		<h2>Hello World!!!</h2>
	</div>
	<div id="job">
		Top News: this guy gives up on doing objc in future... <br />
		This guy is trying to join some company which mainly focus on hardware and c.<br />
	</div>
</header>

<nav>
	<ul>
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="http://yco.bbish.net">@blog(under construction)</a></li>
		<li><a href="http://www.linkedin.com/in/yarcowang">@linkedin</a></li>
		<li><a href="https://github.com/yarcowang">@github</a></li>
		<li><a href="http://www.freelancer.com/u/yarco.html">@freelancer</a></li>
		<li><a href="http://yarco.diandian.com">感悟</a></li>
	</ul>
</nav>
