{% include header.html %}

<div id="main">
	<section>
		<header>
			<h5>My Projects</h5>
		</header>
		<div>
			<ul>
				<li>[js,f] NodeJs Module: <a href="https://github.com/yarcowang/node-watchd">node-watchd</a> <a href="https://github.com/yarcowang/node-diff">linediff</a></li>
				<li>[js,f] chrome extension: <a href="https://github.com/yarcowang/chrome-tabsize">Tabsize</a></li>
				<li>[u,f] Mac Dict:
				<a id="c2s_bn_lnk_27660" href="https://www.click2sell.eu/buy?yarcohtt">!!! http status code</a>
<script type="text/javascript" src="http://www.click2sell.eu/js/buy_now_butt_v2.js"></script>
<script type="text/javascript">c2s_bn_initializeBuyNowLink('www.click2sell.eu', '27660');</script>
				</li>
				<li>[js,f] Simple Access Control Module for Node.js: <a href="https://npmjs.org/package/taichi-access">Taichi-Access</a></li>
				<li>[php,f] Opencart Payment Gateways: <a href="http://www.opencart.com/index.php?route=extension/extension/info&extension_id=7836">Citrus Payment v0.2</a> <a href="http://www.opencart.com/index.php?route=extension/extension/info&extension_id=7972">ICICI PaySeal v0.1</a></li>
				<li>[*,t] xdebug clients: <a href="http://github.com/yarcowang/xdebug-clients">XDebug Clients</a></li>
			</ul>
		</div>
	</section>

	<section>
		<header>
			<h5>iLabs / half-done</h5>
		</header>
		<div>
			<ul>
				<li>[js,i] Vi Key Binding: <a href="vikb/">v0.1</a></li>
				<li>[php,s] iCore PHP Framework/CMS: <a href="http://github.com/yarcowang/icore">iCore</a></li>
				<li>[php,t] Drupal Views Module Json Backend: <a href="http://github.com/yarcowang/Drupal-JSON-Views-Module-">Views Json Backend</a></li>
				<li>[js,i] firefox extension: <a href="https://addons.mozilla.org/zh-CN/firefox/addon/sfw/">SFW(Small Firewall)</a></li>
				<li>[c,t] simple chinese segment method: <a href="http://code.google.com/p/chinese-binary-splitter/">Chinese Binary Splitter</a></li>
			</ul>
		</div>
	</section>

	<section>
		<header>
			<h5>Other Stuff</h5>
		</header>
		<div>
			<ul>
				<li>[py,f] Utilities: Random Password Tool(unvalid, will be move to some repos)</li>
				<li>iW3C: <a href="https://github.com/yarcowang/mdchart/">Markdown embed Chart Definition</a></li>
				<li>[objc] OSX/iOS: <a href="http://www.tudou.com/programs/view/iOnPCex2tpk/">H4 - video</a></li>
				</li>
			</ul>
		</div>
	</section>

	<section>
		<header>
			<h5>Exercises:</h5>
		</header>
		<div>
			<ul>
				<li>数值计算 二分法实现: <a href="https://gist.github.com/4154891">js</a></li>
				<li>数值计算 牛顿法实现: <a href="https://gist.github.com/4154930">js</a></li>
				<li>图形图像 RGB转灰度: <a href="https://gist.github.com/4154963">js</a></li>
				<li>图形图像 散点的边界检查: <a href="https://gist.github.com/4154983">js</a> <a href="files/1.jpg">样图</a></li>
			</ul>
		</div>
	</section>

	<section>
		<header>
			<h5>Links & My Standards:</h5>
		</header>
		<div>
			<ul>
				<li>Q: Who is this guy? A: I'm a Sr. PHPer / a Chinese / a single who like coding... <a href="mailto:yarco.wang@gmail.com">contact me</a></li>
				<li>Q: How to pay for you? A: Outside of China, use <a href="https://www.paypal.com">Paypal</a>; in China, use <a href="https://me.alipay.com/yarco">Alipay</a></li>
				<li>Common Style: <a href="https://gist.github.com/4160360">Comment</a> <a href="http://en.wikipedia.org/wiki/Indent_style#Variant:_1TBS">Indent</a> <a href="http://semver.org/">Versioning</a></li>
				<li>/* vim: set ts=2 sw=2 sts=2 noet ai si: */ (<a href="http://drupal.org/coding-standards#comment-6670298">why tab?</a>)</li>
				<li>PHP Coding Standard: Tool(<a href="http://cs.sensiolabs.org/">php-cs-fixer</a>) Standard(<a href="https://github.com/php-fig/fig-standards/blob/3e49c27f615a4ef0828d9643cf4a10efbc5421e4/accepted/PSR-0.md">PSR-0</a> <a href="https://github.com/php-fig/fig-standards/blob/3e49c27f615a4ef0828d9643cf4a10efbc5421e4/accepted/PSR-1-basic-coding-standard.md">PSR-1</a> <a href="https://github.com/php-fig/fig-standards/blob/3e49c27f615a4ef0828d9643cf4a10efbc5421e4/accepted/PSR-2-coding-style-guide.md">PSR-2</a>)</li>
				<li>validator: <a href="http://validator.w3.org/">html5</a> <a href="http://jigsaw.w3.org/css-validator/">CSS</a></li>
			</ul>
		</div>
	</section>
</div>

<footer>
	<canvas id="canvas" width="620" height="80">您的浏览器不支持HTML5</canvas>
	<script type="text/javascript">
var ball = {
	x : 0,
	y : 0,
	dx : 0,
	dy : 0,
	n : 0,
	r : 4,

	step : function() {
		this.n++;
		this.dy += this.n * 0.0002;
		this.x += this.dx;
		this.y += this.dy;
	}
}

ball.x = 80;
ball.y = 80 - ball.r;
ball.dx = 0.5;
ball.dy = -1;

var canvas = document.getElementById('canvas').getContext('2d');

function redraw()
{
	canvas.clearRect(0, 0, 620, 80);

	canvas.beginPath();
	canvas.arc(ball.x, ball.y, ball.r, 0, Math.PI * 2, true);
	canvas.closePath();
	canvas.fillStyle = '#666';
	canvas.fill();

	ball.step();
	if (ball.y > 80 - ball.r) {
		ball.dy = - ball.dy;
		ball.y = 80 - ball.r;
	}
	if (ball.x < 80 || ball.x > 540) {
		ball.dx = - ball.dx;
	}
	if (ball.x < 80) {
		ball.dy = -1;
		ball.n = 0;
	}
}
setInterval(redraw, 10);
// redraw();
	</script>
	<div id="warning">THIS GUY IS FOLLOWING GOD'S STEPS!!!</div>
        
	<div>&nbsp;</div>
	<!-- <div><div class="left btn" id="war">War</div><div class="right btn" id="peace">Peace</div></div> -->
	<div id="cnzz">
		<script src="http://s9.cnzz.com/stat.php?id=4413512&web_id=4413512&online=1&show=line"></script>
	</div>
</footer>

</body>
</html>

