{% include header.html %}

		<div class="container">
			<div class="row main">
				<div class="span3">
					<h4>Products</h4>
					<ul>
						<li>[php,f] <a href="http://www.opencart.com/index.php?route=extension/extension/info&amp;extension_id=7836" data-toggle="tooltip" title="" data-original-title="opencart extension: india online payment method">Citrus Payment</a></li>
						<li>[php,f] <a href="http://www.opencart.com/index.php?route=extension/extension/info&amp;extension_id=7972" data-toggle="tooltip" title="" data-original-title="opencart extension: india online payment method">ICICI PaySeal</a></li>
					</ul>
				</div>
				<div class="span3">
					<h4>My Projects</h4>
					<ul>
						<li>[php,i] composer: <a href="https://github.com/WWGit/php-taichi-basic" data-toggle="tooltip" title="" data-original-title="a collection of useful php classes">Taichi\Basic</a></li>
						<li>[py,f] shell: <a href="https://github.com/yarcowang/mytoolkit" data-toggle="tooltip" title="" data-original-title="random password tool etc">MyToolkit</a></li>
						<li>[js,f] nodejs: <a href="https://github.com/yarcowang/seg-zhcn" data-toggle="tooltip" title="" data-original-title="simple Chinese segment method for nodejs">seg-zhcn</a></li>
						<li>[js,f] nodejs: <a href="https://github.com/yarcowang/node-diff" data-toggle="tooltip" title="" data-original-title="line diff for nodejs">linediff</a></li>
						<li>[js,p] chrome: <a href="https://github.com/yarcowang/chrome-tabsize" data-toggle="tooltip" title="" data-original-title="extensions for chrome or maybe other browsers">tabsize</a></li>
						<li>[js,p] nodejs: <a href="https://npmjs.org/package/taichi-access" data-toggle="tooltip" title="" data-original-title="access control system for nodejs">taichi-access</a></li>
					</ul>
				</div>
				<div class="span3">
					<h4>Labs / Exercises</h4>
					<ul>
						<li>[php,t] symfony: <a href="https://github.com/yarcowang/php-schema" data-toggle="tooltip" title="" data-original-title="a funny tool from my long time thinking">php-schema</a></li>
						<li>[js,t] nodejs: <a href="https://github.com/yarcowang/node-watchd" data-toggle="tooltip" title="" data-original-title="a tool for watching files and if change then execute commands">node-watchd</a></li>
						<li>[*,t] xdebug: <a href="http://github.com/yarcowang/xdebug-clients" data-toggle="tooltip" title="" data-original-title="xdebug client">XDebug Clients</a></li>
						<li>site: <a href="http://langs.mobi/" data-toggle="tooltip" title="" data-original-title="a site for getting api help, special for software">Langs.mobi</a></li>
						<li>markdown: <a href="https://github.com/yarcowang/mdchart/" data-toggle="tooltip" title="" data-original-title="some thinkings on markdown format">embed chart</a></li>
						<li>[js,i] browser: <a href="vikb/" data-toggle="tooltip" title="" data-original-title="html textarea control with vi key binding">vi key binding</a></li>
						<li>[php,s] php: <a href="http://github.com/yarcowang/icore" data-toggle="tooltip" title="" data-original-title="a half done php framework">iCore</a></li>
						<li>[php,t] drupal: <a href="http://github.com/yarcowang/Drupal-JSON-Views-Module-" data-toggle="tooltip" title="" data-original-title="a drupal views json backend, that enable remote json resource can be used in a view">Views Json Backend</a></li>
						<li>[js,f] exercise: <a href="https://gist.github.com/4154891" data-toggle="tooltip" title="" data-original-title="数值计算">二分法实现</a></li>
						<li>[js,f] exercise: <a href="https://gist.github.com/4154930" data-toggle="tooltip" title="" data-original-title="数值计算">牛顿法实现</a></li>
						<li>[js,f] exercise: <a href="https://gist.github.com/4154963" data-toggle="tooltip" title="" data-original-title="图形图像">RGB转灰度</a></li>
						<li>[js,f] exercise: <a href="https://gist.github.com/4154983" data-toggle="tooltip" title="" data-original-title="图形图像">散点的边界检查</a> <a href="files/1.jpg">样图</a></li>
					</ul>
				</div>
				<div class="span3">
					<h4>Links / Other</h4>
					<ul>
						<li>payment: <a href="https://www.paypal.com">Paypal</a> or <a href="https://me.alipay.com/yarco">Alipay</a></li>
						<li>Common Coding Style:
							<ul>
								<li><a href="https://gist.github.com/yarcowang/4173695">Structure</a></li>
								<li><a href="https://gist.github.com/yarcowang/4160360">Comment</a></li>
								<li><a href="http://en.wikipedia.org/wiki/Indent_style#Variant:_1TBS">Indent</a></li>
								<li><a href="http://semver.org/">Versioning</a></li>
							</ul>
						</li>
						<li>PHP Coding Standard:
							<ul>
								<li><a href="https://github.com/php-fig/fig-standards/blob/3e49c27f615a4ef0828d9643cf4a10efbc5421e4/accepted/PSR-0.md">PSR-0</a></li>
								<li><a href="https://github.com/php-fig/fig-standards/blob/3e49c27f615a4ef0828d9643cf4a10efbc5421e4/accepted/PSR-1-basic-coding-standard.md">PSR-1</a></li>
								<li><a href="https://github.com/php-fig/fig-standards/blob/3e49c27f615a4ef0828d9643cf4a10efbc5421e4/accepted/PSR-2-coding-style-guide.md">PSR-2</a></li>
							</ul>
						</li>
						<li>Validators: 
							<ul>
								<li><a href="http://validator.w3.org/">html5</a></li>
								<li><a href="http://jigsaw.w3.org/css-validator/">CSS</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<footer class="container">
			<div class="row">
				<div class="span8 offset2">
					<canvas id="canvas" width="620" height="80">您的浏览器不支持HTML5</canvas>
					<div id="other">
						/* vim: set ts=2 sw=2 sts=2 noet ai si: */ (<a href="https://drupal.org/comment/6670298#comment-6670298">why tab?</a>)<br />
						i'm a framework level phper.
						i'm a Chinese. <br />
						i want to change the world. <br />
						<a href="http://www.linkedin.com/in/yarcowang">@linkedin</a> | <a href="https://github.com/yarcowang">@github</a>
					</div>
			<script type="text/javascript">
var ball = {
	x : 80, y : 76,
	dx : 0.5, dy : -1,
	n : 0, r : 4,

	step : function() {
		this.n++;
		this.dy += this.n * 0.0002;
		this.x += this.dx;
		this.y += this.dy;
	}
};

var game = {
	world: document.getElementById('canvas').getContext('2d'),

	start: function() {
		setInterval(this.redraw, 10);
	},
	redraw: function() {
		game.world.clearRect(0, 0, 620, 80);
		game.world.beginPath();
		game.world.arc(ball.x, ball.y, ball.r, 0, Math.PI * 2, true);
		game.world.closePath();
		game.world.fillStyle = '#666';
		game.world.fill();

		ball.step();
		if (ball.y > 80 - ball.r) {
			ball.dy = - ball.dy;
			ball.y = 80 - ball.r;
		}
		if (ball.x < 80 || ball.x > 540) {
			ball.dx = - ball.dx;
		}
		if (ball.x < 80) {
			ball.dy = -1;
			ball.n = 0;
		}
	}
};

game.start();
			</script>
				</div>
			</div>
		</footer>
	</body>
</html>
