{% include header.html %}

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="http://i1275.photobucket.com/albums/y460/yarco_wang/myself_zps06679fed.jpg" class="pull-left" style="width: 60px; margin:0px 10px;border-radius: 4px" />
					<p class="help-block clearfix small">
						<a href="http://www.linkedin.com/in/yarcowang">@linkedin</a>
						<a href="https://github.com/yarcowang">@github</a><br />
						I'm Yarco, a Sr. programmer, mainly focus on "php/nodejs/python". Interests including "c/c++", "R", "erlang".<br /><br />
						Workstation: Mac Pro 15 inches (16G+ memory)<br />
					</p>

					<div class="col-md-12 small" style="text-align:center">
						<i class="help-block">
						希望拥有: 一支毛笔, 一根萧, 一把剑, 一架飞艇(家)<br />
						Wish i could have: a Writing Brush, a Xiao, a Sword, an Airship as home<br />
						</i>
					</div>

					<div class="col-md-12">
						<h4>No dreaming, action!!!</h4>
						<p class="help-block small">Actually i want to be whole human leader...<br />(You didn't see it, do you?)</p>
					</div>

					<div class="col-md-12">
						<h4>Thinkings / Articles</h4>
						<ul>
							<li><a href="https://www.linkedin.com/pulse/html5-suggestion-new-element-attribute-greyarea-yarco-wang" target="_blank">Greyarea: sugguestion in html5</a></li>
							<li><a href="https://www.linkedin.com/pulse/why-we-work-5-days-week-yarco-wang" target="_blank">Thinking of working 5 days in a week</a></li>
							<li><a href="http://www.linkedin.com/pulse/sex-yin-yang-family-yarco-wang" target="_blank">Sex, Yin-yang And Family</a></li>
							<li><a href="http://www.linkedin.com/pulse/data-structure-society-yarco-wang" target="_blank">Data structure and society</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<h4>programming related stuff</h4>
					<p class="help-block small">Lang ::= php:php | js:javascript | py:python | c:c | *:mixed | u:unknown<br />
					Status ::= i:initialized | p:in-process | t:trial-version | f:finished-version | s:stopped</p>
					<div class="col-md-7">
						<h4>Programming Stuff</h4>
						<ul>
							<li>[py,f] shell: <a href="https://github.com/yarcowang/mytoolkit" data-toggle="tooltip" title="" data-original-title="random password tool etc">MyToolkit</a></li>
							<li>[js,f] nodejs: <a href="https://github.com/yarcowang/seg-zhcn" data-toggle="tooltip" title="" data-original-title="simple Chinese segment method for nodejs">seg-zhcn</a>, <a href="https://github.com/yarcowang/node-diff" data-toggle="tooltip" title="" data-original-title="line diff for nodejs">linediff</a></li>
							<li>[php,f] oc: <a href="http://www.opencart.com/index.php?route=extension/extension/info&amp;extension_id=7836" data-toggle="tooltip" title="" data-original-title="india online payment method">Citrus Payment</a>, <a href="http://www.opencart.com/index.php?route=extension/extension/info&amp;extension_id=7972" data-toggle="tooltip" title="" data-original-title="india online payment method">ICICI PaySeal</a></li>
							<li>[js,p] chrome: <a href="https://github.com/yarcowang/chrome-tabsize" data-toggle="tooltip" title="" data-original-title="extensions for chrome or maybe other browsers">tabsize</a></li>
							<li>[js,p] nodejs: <a href="https://npmjs.org/package/taichi-access" data-toggle="tooltip" title="" data-original-title="access control system for nodejs">taichi-access</a></li>
							<li><s>[php,t] symfony: <a href="https://github.com/yarcowang/php-schema" data-toggle="tooltip" title="" data-original-title="a funny tool from my long time thinking">php-schema</a></s></li>
							<li>[*,t] xdebug: <a href="http://github.com/yarcowang/xdebug-clients" data-toggle="tooltip" title="" data-original-title="xdebug client">XDebug Clients</a></li>
							<li><s>[js,i] browser: <a href="vikb/" data-toggle="tooltip" title="" data-original-title="html textarea control with vi key binding">vi key binding</a></s></li>
							<li><s>[php,s] php: <a href="http://github.com/yarcowang/icore" data-toggle="tooltip" title="" data-original-title="a half done php framework">iCore</a></s></li>
							<li>[php,t] drupal: <a href="http://github.com/yarcowang/Drupal-JSON-Views-Module-" data-toggle="tooltip" title="" data-original-title="a module for getting remote json data in views">Views Json Backend</a></li>
						</ul>
					</div>

					<div class="col-md-5">
						<h4>Sites <small>under my name</small></h4>
						<ul>
						</ul>
					</div>

					<div class="col-md-5">
						<h4>Links / Other</h4>
						<ul>
							<li>Common Coding Style:
								<ul>
									<li><a href="https://gist.github.com/yarcowang/4173695">Structure</a></li>
									<li><a href="https://gist.github.com/yarcowang/4160360">Comment</a></li>
									<li><a href="http://en.wikipedia.org/wiki/Indent_style#Variant:_1TBS">Indent</a></li>
									<li><a href="http://semver.org/">Versioning</a></li>
								</ul>
							</li>
							<li><a href="http://www.php-fig.org/">PHP Coding Standard</a></li>
						</ul>
					</div>
				</div>



			</div>
		</div>

{% include footer.html %}

