{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Vi Key Binding</h4>
			<p class="help-block">This lib enables vi key on some element, normally textarea or editable div.</p>

			<code>
			vikb.attachTo(document.getElementById(ID));
			</code>
		</div>

		<div class="col-md-7">
			<textarea id="ta" rows="20" style="width: 100%"></textarea>
		</div>

		<div class="col-md-5">
			<ul>
				<li>v0.1 -- reimplement
					<ul>
						<li>Common: ESC, N</li>
						<li>Left-right motions: [N]h,[N]l,0,^,[N]$</li>
						<li>Up-down motions: [N]k,[N]j,[N]-,[N]+,[N]_,[N]G,[N]gg,[N]%</li>
						<li>Inserting text: [N]a,[N]A,[N]i,[N]I,[N]o,[N]O</li>
						<li>Deleting text: [N]x,[N]X,[N]dd,[N]D,[N]J</li>
						<li>Copying and moving text: [N]p,[N]P(only work with Deleting text, still have some bugs)</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
</div>

<script type="text/javascript" src="vikb.js"></script>
<script type="text/javascript">
(new vikb.controller).debug().run();
</script>

{% include footer.html %}
